/* ----------------------------------------------- */


/* DESKTOP */


/* ----------------------------------------------- */

@media only screen and (min-width:1024px) {
    /* ----------------------------------------------- */
    /* SET UP */
    /* ----------------------------------------------- */
    html,
    body {
        font-size: 1.5vw
    }
    .subheading {
        font-size: 1.5rem;
    }
    #content .container {
        padding: 0 25px 200px 250px;
        margin: auto
    }
    header {
        display: none;
    }
    .sidenav {
        display: block;
    }
    /* ----------------------------------------------- */
    /* ABOUT ME */
    /* ----------------------------------------------- */
    .about-para {
        /* background-color: blue; */
        padding: 0 100px 150px 100px;
    }
    /* ----------------------------------------------- */
    /* HOBBIES */
    /* ----------------------------------------------- */
    .hobbies-para {
        /* background-color: pink; */
        padding: 75px 100px 50px 100px;
    }
    .dummy {
        margin-bottom: 75px;
        /* background-color: blue; */
    }
    #hobbies img {
        width: 100%;
        height: 100%;
    }
    /* ----------------------------------------------- */
    /* PROJECTS*/
    /* ----------------------------------------------- */
    #projects .col-lg {
        margin-top: 75px;
    }
    .project-box {
        padding: 0px 25px
    }
    .project-box h3 {
        padding: 10px 0px;
        font-size: 1.2rem;
    }
    .project-box img {
        width: 90%;
        height: 90%;
        margin-top: 20px;
        margin-bottom: 20px
    }
    .project-box p {
        font-size: 1rem;
        padding: 0px 10px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .project-box i {
        padding: 0 15px;
    }
    .many-more {
        font-size: 1.5rem;
        font-weight: 800;
    }
    /* ----------------------------------------------- */
    /* THOUGHT BUBBLE*/
    /* ----------------------------------------------- */
    #bubble-intro {
        padding: 75px 150px;
    }
    #bubble .bubble-box {
        margin: 0 200px;
    }
    /* ----------------------------------------------- */
    /* CONTACT */
    /* ----------------------------------------------- */
    .container#contact {
        margin-bottom: 50px;
        padding-bottom: 0px;
    }
    #contact a {
        margin: 0 15px;
    }
    /* ----------------------------------------------- */
    /* FOOTER */
    /* ----------------------------------------------- */
    .container#footer {
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
}


/* ----------------------------------------------- */


/* TABLET LANDSCAPE */


/* ----------------------------------------------- */

@media only screen and (min-width:769px) and (max-width: 1024px) {
    /* ----------------------------------------------- */
    /* SET UP */
    /* ----------------------------------------------- */
    .subheading {
        font-size: 1.5rem;
    }
    #content .container {
        /* background-color: lightcoral; */
        padding: 0 25px 200px 200px;
        margin: auto
    }
    header {
        display: none;
    }
    .sidenav {
        display: block;
    }
    /* ----------------------------------------------- */
    /* PROJECTS*/
    /* ----------------------------------------------- */
    #projects .col-lg {
        margin-top: 75px;
    }
    .project-box {
        padding: 0px 20px
    }
    .project-box h3 {
        padding: 10px 0px;
        font-size: 1rem;
    }
    .project-box img {
        width: 90%;
        height: 90%;
        margin-top: 20px;
        margin-bottom: 20px
    }
    .project-box p {
        font-size: 0.8rem;
        padding: 0px 10px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .project-box i {
        font-size: 1.5rem;
        padding: 0 15px;
    }
    .many-more {
        font-size: 1.5rem;
        font-weight: 800;
    }
    /* ----------------------------------------------- */
    /* CONTACT */
    /* ----------------------------------------------- */
    .container#contact {
        margin-bottom: 50px;
        padding-bottom: 0px;
    }
    #contact .col-6 {
        padding-right: 20px
    }
    #contact .col {
        padding-left: 20px
    }
    #contact .item {
        margin: auto;
        font-size: 1rem;
    }
    #contact a {
        font-size: 2rem;
        margin: 0 10px;
    }
    /* ----------------------------------------------- */
    /* FOOTER */
    /* ----------------------------------------------- */
    .container#footer {
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
}


/* ----------------------------------------------- */


/* MOBILE PORTRAIT */


/* ----------------------------------------------- */

@media only screen and (min-width: 200px) and (max-width: 767px) {
    /* ----------------------------------------------- */
    /* SET UP */
    /* ----------------------------------------------- */
    body {
        font-size: 2.5vw;
    }
    #logo {
        width: 40%;
    }
    #content .container {
        padding: 0 20px 100px 20px;
        margin: auto
    }
    .subheading {
        font-size: 2.5rem;
    }
    /* ----------------------------------------------- */
    /* WELCOME PAGE */
    /* ----------------------------------------------- */
    #welcome {
        background-image: radial-gradient(rgba(0, 0, 255, 0.1), rgba(0, 0, 218, 0)), url(../img/bg-min-min-min.jpg);
    }
    #welcome p {
        font-size: 2.5rem;
        letter-spacing: none;
        color: white;
    }
    /* ----------------------------------------------- */
    /* TOP NAV */
    /* ----------------------------------------------- */
    header {
        margin-top: 20px;
    }
    #btn_menu i {
        font-size: 2rem;
    }
    #topnav p {
        font-size: 2rem;
    }
    /* ----------------------------------------------- */
    /* HIDDEN BAR */
    /* ----------------------------------------------- */
    .selection {
        top: 150px;
        right: 30px;
    }
    .selection li {
        font-size: 2rem;
        line-height: 5rem;
    }
    /* ----------------------------------------------- */
    /* ABOUT ME */
    /* ----------------------------------------------- */
    .about-para {
        /* background-color: blue; */
        padding: 0 25px 75px 25px;
    }
    /* ----------------------------------------------- */
    /* HOBBIES */
    /* ----------------------------------------------- */
    #hobbies h3 {
        font-size: 1.5rem;
        margin-bottom: 25px;
        text-align: center;
    }
    .hobbies-para {
        /* background-color: pink; */
        padding: 75px 25px 0px 25px;
    }
    .dummy {
        margin-bottom: 75px;
        /* background-color: blue; */
    }
    #hobbies img {
        width: 100%;
        height: 100%;
    }
    /* ----------------------------------------------- */
    /* FIRST QUOTE*/
    /* ----------------------------------------------- */
    .container#first-quote {
        font-size: 1.5rem;
        text-align: center;
    }
    /* ----------------------------------------------- */
    /* PROJECTS*/
    /* ----------------------------------------------- */
    #projects .col-lg {
        margin-top: 75px;
    }
    .project-box {
        padding: 0px 25px
    }
    .project-box h3 {
        padding: 10px 0px;
        font-size: 1.5rem;
    }
    .project-box img {
        width: 90%;
        height: 90%;
        margin-top: 20px;
        margin-bottom: 20px
    }
    .project-box p {
        font-size: 1.2rem;
        padding: 0px 10px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .project-box i {
        font-size: 2.5rem;
        padding: 0 15px;
    }
    .many-more {
        font-size: 2rem;
        font-weight: 800;
    }
    /* ----------------------------------------------- */
    /* THOUGHT BUBBLE*/
    /* ----------------------------------------------- */
    #bubble-intro {
        padding: 75px 25px;
    }
    #bubble-intro p {
        font-size: 1.5rem;
    }
    #bubble .bubble-box {
        width: auto;
        margin: 0 75px;
        margin-bottom: 50px
    }
    #bubble .bubble-box h4 {
        font-size: 1.3rem;
    }
    #bubble a {
        padding: 5px 15px;
        font-size: 0.8rem;
        line-height: 10px;
    }
    /* ----------------------------------------------- */
    /* CONTACT */
    /* ----------------------------------------------- */
    .container#contact {
        margin-bottom: 50px;
        padding-bottom: 0px;
    }
    #contact .col-6 {
        padding-right: 15px
    }
    #contact .col {
        padding-left: 15px
    }
    #contact a {
        font-size: 3rem;
        margin: 0 10px;
    }
    /* ----------------------------------------------- */
    /* FOOTER */
    /* ----------------------------------------------- */
    .container#footer {
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
    #footer p {
        font-size: 1.2rem;
    }
}