@import url(https://fonts.googleapis.com/earlyaccess/cwtexkai.css);

/* ----------------------------------------------- */


/* SET UP */


/* ----------------------------------------------- */

html,
body {
    width: 100%;
    overflow-x: hidden;
    background-color: rgb(246, 255, 248);
}

body {
    font-family: 'Shippori Mincho', sans-serif;
    font-size: x-large;
    /* background-color: rgb(249, 248, 255); */
}

#main {
    visibility: hidden;
    margin: 0%
}

#logo {
    width: 20%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* ----------------------------------------------- */


/* WELCOME PAGE */


/* ----------------------------------------------- */

#welcome {
    width: 100%;
    height: 100%;
    margin: 0px;
    /* border: 0px; */
    padding: 0px;
    position: absolute;
    z-index: 2;
    background-image: radial-gradient(rgba(0, 0, 255, 0.3), rgba(0, 0, 218, 0)), url(../img/bg-min.jpg);
    /* rgba(0, 0, 218, 0.2), rgba(0, 0, 218, 0.2) */
    background-size: 100%;
    background-position-y: 50%;
    font-size: 1.4em;
}

#welcome p {
    height: fit-content;
    text-align: center;
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 1px;
    /* background-color: wheat; */
}

#jp {
    font-family: 'Shippori Mincho', sans-serif;
}

#ch {
    font-family: 'cwTeXKai', sans-serif;
    font-size: 1.1em;
}


/* ----------------------------------------------- */


/* TOP NAV */


/* ----------------------------------------------- */

header {
    margin-top: 2%;
    display: none;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.1);
    font-family: 'Poppins', sans-serif;
    padding: 1% 6%;
    position: fixed;
    top: 0;
    z-index: 1;
    transition: top 0.4s ease-in-out
}

.nav-up {
    top: -80px
}

#btn_menu {
    text-align: right;
    /* background-color: lightslategray; */
    position: relative;
    padding-right: 5%
}

#btn_menu i {
    /* background-color: mediumblue; */
    padding: 5%;
    font-size: large;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%) rotate(90deg);
}

#topnav p {
    /* background-color: lightcyan; */
    letter-spacing: 1px;
    font-weight: 600;
    text-align: center;
    color: black;
    margin: 0%
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* background-color: rgba(255, 255, 255, 0.98); */
    /* box-shadow: 0 2px 2px #efefef; */
    z-index: 9999;
}


/* ----------------------------------------------- */


/* HIDDEN BAR */


/* ----------------------------------------------- */

.selection {
    display: none;
    /* background-color: magenta; */
    position: fixed;
    top: 20%;
    right: 5%;
    z-index: 1;
}

.selection ul {
    /* background-color: mediumaquamarine; */
    text-align: center;
}

.selection li {
    /* background-color: yellow; */
    list-style: none;
    font-size: large;
    line-height: 2.5em;
    list-style: none;
    margin: 0px;
    padding: 0;
    cursor: pointer;
}


/* ----------------------------------------------- */


/* SIDE NAV */


/* ----------------------------------------------- */

.sidenav {
    width: 15%;
    /* Set the width of the sidebar */
    position: fixed;
    /* Fixed Sidebar (stay in place on scroll) */
    overflow-x: hidden;
    margin: 1%;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    /* border:4px solid blue; */
    padding: 0%
}

.sidenav p {
    /* background-color: tomato; */
    font-weight: 600;
    padding: 30% 0%;
    /* position: absolute; */
    /* left: 50%;
  transform: translate(-50%); */
    text-align: center;
    color: black;
    margin: 0%
}

nav ul {
    margin: 0%;
    padding: 0%;
    display: block;
}

nav li {
    /* background-color: yellow; */
    font-size: large;
    line-height: 3em;
    list-style: none;
    margin: 0px;
    padding: 0;
    cursor: pointer;
}

nav li span {
    /* background-color: beige; */
    width: auto;
    color: black;
    display: inline-block;
    text-align: center;
    /* text-decoration: none; */
    position: relative;
    padding: 0%;
    left: 50%;
    transform: translate(-50%);
}

nav li span:after {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    width: 0;
    height: 2px;
    display: block;
    content: "";
    background: #585757;
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: 5px
}

nav li span:hover:after {
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translate(-50%);
    right: 0
}

#content {
    position: absolute;
    letter-spacing: 0.01em;
    line-height: 150%;
    top: 100%;
    /* background-color: green; */
    padding-top: 10%;
}

#content .container {
    padding: 0% 10% 0% 15%
}

.subheading {
    text-align: left;
    font-weight: bold;
    font-size: 1.5em;
    position: relative;
    padding: 0% 8%;
    margin-bottom: 6%;
    /* background-color: blue; */
}


/* ----------------------------------------------- */


/* ABOUT ME */


/* ----------------------------------------------- */

#about {
    margin-top: 10%;
    /* background-color: yellow; */
}

#about img {
    width: 50%;
    margin: auto;
    /* transform: translate(50%); */
    margin-bottom: 8%;
}

.about-para {
    padding-bottom: 15%;
    /* background-color: red; */
    /* background-color: yellow; */
}

.about-para p {
    /* background-color: lightskyblue; */
    width: 100%;
    padding: 0% 20%;
}


/* ----------------------------------------------- */


/* HOBBIES */


/* ----------------------------------------------- */


/* #hobbies {
  background-color: blue;
} */

#hobbies h3 {
    font-size: 1.1em;
    margin-bottom: 3%;
}


/* .hobbies-para {
  background-color: yellowgreen;
} */

.hobbies-para p,
.hobbies-para h3 {
    width: 100%;
    padding: 0% 20%;
}

.dummy {
    padding-bottom: 18%;
}

#hobbies img {
    width: 60%;
    margin: auto;
    margin-top: 5%;
    /* border-radius: 50%; */
}


/* ----------------------------------------------- */


/* FIRST QUOTE*/


/* ----------------------------------------------- */

.container#first-quote {
    font-size: 1.2em;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 20%
}


/* ----------------------------------------------- */


/* PROJECTS*/


/* ----------------------------------------------- */


/* #projects {
  background-color: lightcoral;
} */

#projects .row.sc {
    margin-left: 5%;
}

.project-box {
    background-color: lightyellow;
    border: 2px solid orange;
    position: relative;
    border-radius: 5%;
    padding: 0% 8%;
    margin-bottom: 10%;
}

.project-box h3 {
    background-color: rgb(246, 255, 248);
    border-radius: 20%;
    padding: 5% 0%;
    /* Same as background */
    width: 100%;
    /* position: absolute; */
    /* left: 50%; */
    text-align: center;
    /* transform: translate(-50%, -50%); */
    margin-bottom: 10%;
}

.project-box .row {
    margin-bottom: 5%
}

.project-box img {
    max-width: 100%;
    margin: auto;
    display: block;
}

.project-box img:hover {
    opacity: 1;
    -webkit-transform: scale(1.03);
    transform: scale(1.1);
    transition: transform 0.5s
}

.project-box p {
    text-align: center;
    font-size: 0.9em;
    /* background-color: yellowgreen; */
    position: relative;
}

.proj-icons {
    display: flex;
    justify-content: center;
    clear: both;
    /* background-color: violet; */
}

.project-box i {
    font-size: 1.5em;
    padding: 0% 5% 5% 5%;
    color: rgb(197, 128, 0);
}

.many-more {
    text-align: center;
    font-size: 1.3em;
    font-weight: 800;
    /* background-color: teal; */
    padding: 10% 0% 20% 0%;
}


/* ----------------------------------------------- */


/* THOUGHT BUBBLE*/


/* ----------------------------------------------- */

#bubble {
    /* background-color: cornsilk; */
    margin-bottom: 10%
}

#bubble-intro {
    padding: 10% 15% 10% 15%;
    /* background-color: red; */
}

#bubble-intro p {
    font-size: 1em;
    line-height: 1.5em
}

#bubble .bubble-box {
    width: auto;
    margin: 0% 25%;
    /* background-color: pink; */
    margin-bottom: 5%;
}

#bubble .bubble-box h4 {
    font-weight: 600;
}

#bubble a {
    padding: 10% 50%;
    font-family: "Poppins", sans-serif;
    transform: translate(-20%, -20%);
    color: black;
    border: 2px solid pink;
    letter-spacing: 1.5px;
    line-height: 1.5em;
}


/* ----------------------------------------------- */


/* CONTACT */


/* ----------------------------------------------- */

#contact {
    /* background-color:violet; */
    margin-bottom: 10%
}

#contact h4 {
    text-align: center;
    /* background-color: darkgrey; */
    margin-top: 4%;
    margin-bottom: 6%;
}

#contact .item {
    /* background-color: yellow; */
    padding-top: 1%;
}

#contact .item.icons {
    margin: auto
}

#contact .col-5 {
    text-align: right;
}

#contact li {
    list-style: none;
    display: flex;
    justify-content: center;
}

#contact a {
    font-size: 1.8em;
    margin: 0% 2%;
    text-decoration: none;
    color: rgb(187, 186, 186);
    transition: color 0.4s ease-in-out
}

#contact a:hover {
    color: rgb(87, 87, 255)
}


/* Footer */

#footer {
    text-align: center;
}

.btn7 {
    padding: 1% 0%;
    text-transform: none;
    font-family: 'Shippori Mincho', sans-serif;
    margin: auto;
    width: 25%;
    color: black;
    box-shadow: inset 000px 100px 0px 0px lightgray;
    -webkit-transition: all 0.6s cubic-bezier(.9, .24, .40, 1);
    transition: all 0.6s cubic-bezier(.9, .24, .40, 1)
}

.btn7:hover::before {
    opacity: 1;
    height: 0%;
}

.btn7:hover {
    box-shadow: inset 00px 10px 0px 0px lightgray;
    color: black;
}

#footer p {
    font-size: 0.8em;
    /* background-color: white; */
    margin: auto;
}